{% extends "base.html" %}

{% block content %}
    <h1>状态更新</h1>

<form action="/sb/his/add" method="POST">
    <label>用户名</label>
    <input type="text" name="remark" >
    <input   name="sbid" type="text" value="{{ sb.sbid }}">
    <input   name="submit" type="submit" value="添加">
</form>

        <table border="1">
             <tr>
                <td>{{ sb.userNo }}</td>
                <td>{{ sb.username }}</td>
                <td>{{ sb.deviceNo}}</td>
                <td>{{ sb.sAddr }}</td>

            </tr>
        {% for sbhis in sb.his %}
            <tr>
                <td>{{ sb.userNo }}</td>
                <td>{{ sb.username }}</td>
                <td>{{ sb.deviceNo}}</td>
                <td>{{ sb.sAddr }}</td>
                <td>{{ sbhis.remark }}</td>
                <td>{{ sbhis.date }}</td>

            </tr>
        {% endfor %}
        </table>

{% endblock %}
